*{
  margin: 0;
  padding: 0;
}

.light{
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.dark{
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: white;
  
}
button{
  width: 70px;
  margin: 10px;
  
}
.h{
  width: 100vw;
  display: flex;
  justify-content: center;
  
}
.h>button{
  color:white;
  background-color: red;
  padding: 3px;
  border-radius: 5px;
  width: 80px;
  
}