*{
  padding: 0;
  margin: 0;
}
.bg{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: larger;
}
button{
  margin: 20px;
  padding: 5px;
  border-radius: 10px;
  border: ;
}
